<div class="shelf-box">
    <div class="shelf_top">
        <div class="shelf_switch"></div>
        <a href="/search">
            <div class="shelf-search">输入书名/作者/关键字</div>
        </a>
    </div>
    <ul class="book-list">
        <li>
            <div class="u-book">
                <a href="">
                    <div class="book-cover">
                        <a href="/book?id=18218"><img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p018JfdElmhO/dXn0ucFVXpvWV4.jpg" alt="都市佣兵之王"></a>
                    </div>
                </a>
                <div class="info">
                    <a href="/book?id=18218"><h3 class="title">都市佣兵之王</h3></a>
                    <p>
                        <span>南派三叔</span>
                    </p>
                    <div class="wrap">
                        <p>最新：《后记》</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="u-book">
                <a href="">
                    <div class="book-cover">
                        <a href="/book?id=18218"><img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p018JfdElmhO/dXn0ucFVXpvWV4.jpg" alt="都市佣兵之王"></a>
                    </div>
                </a>
                <div class="info">
                    <a href="/book?id=18218"><h3 class="title">都市佣兵之王</h3></a>
                    <p>
                        <span>南派三叔</span>
                    </p>
                    <div class="wrap">
                        <p>最新：《后记》</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="u-book">
                <a href="">
                    <div class="book-cover">
                        <a href="/book?id=18218"><img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p018JfdElmhO/dXn0ucFVXpvWV4.jpg" alt="都市佣兵之王"></a>
                    </div>
                </a>
                <div class="info">
                    <a href="/book?id=18218"><h3 class="title">都市佣兵之王</h3></a>
                    <p>
                        <span>南派三叔</span>
                    </p>
                    <div class="wrap">
                        <p>最新：《后记》</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
