<section class="top-home" v-bind:style="{width: screen_width + 'px'}">
    <a href="/search">
        <div class="top-home_search">
            输入书名/作者/关键字
        </div>
    </a>
    <div class="slider-banner">
        <div>
            <a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11452&_t=index.0.sld.0&&from=main">
                <img class="cover" src="http://image.read.duokan.com/mfsv2/download/fdsc3/p01t3HFw4zGY/cRQkpvrTm5bJJB.jpg" alt="">
            </a>
        </div>
    </div>
    <ul class="top-home_btn">
        <li>
            <a href="/male">
                <img class="top-home_icon" src="/static/img/male.png" alt="">
                <p class="top-home_desc">男生</p>
            </a>
        </li>
        <li>
            <a href="/female">
                <img class="top-home_icon" src="/static/img/female.png" alt="">
                <p class="top-home_desc">女生</p>
            </a>
        </li>
        <li>
            <a href="/categary">
                <img class="top-home_icon" src="/static/img/categary.png" alt="">
                <p class="top-home_desc">分类</p>
            </a>
        </li>
        <li>
            <a href="/rank">
                <img class="top-home_icon" src="/static/img/rank.png" alt="">
                <p class="top-home_desc">排行</p>
            </a>
        </li>
    </ul>
</section>